################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/CalculatorLogger/obj/x86/Debug/CalculatorLoggerApp.csproj.CoreCompileInputs.cache
/CalculatorLogger/obj/x86/Debug/CalculatorLoggerApp.csprojAssemblyReference.cache
/CalculatorLogger/obj/x86/Release/CalculatorLoggerApp.csproj.CoreCompileInputs.cache
/CalculatorLoggerLibrary/obj/Debug/CalculatorLoggerLibrary.csproj.CoreCompileInputs.cache
/CalculatorLoggerLibrary/obj/Debug/CalculatorLoggerLibrary.csprojAssemblyReference.cache
/CalculatorLoggerLibrary/obj/Release/CalculatorLoggerLibrary.csproj.CoreCompileInputs.cache
/Calculator.Service/bin/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.pdb
/Calculator.Service/bin/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.dll
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.Service.runtimeconfig.json
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.Service.runtimeconfig.dev.json
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.Service.pdb
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.Service.dll
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.Service.deps.json
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.pdb
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.dll
/Calculator.Service/obj/project.assets.json
/Calculator.Service/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Calculator.Service/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Calculator.Service/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.RazorTargetAssemblyInfo.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.RazorAssemblyInfo.cs
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.RazorAssemblyInfo.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.pdb
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.dll
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.csprojAssemblyReference.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.csproj.FileListAbsolute.txt
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.csproj.CoreCompileInputs.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.csproj.CopyComplete
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.assets.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.AssemblyInfoInputs.cache
/Calculator.Service/obj/Calculator.Service.csproj.nuget.g.targets
/Calculator.Service/obj/Calculator.Service.csproj.nuget.g.props
/Calculator.Service/obj/Calculator.Service.csproj.nuget.cache
/.vs/config/applicationhost.config
/.vs/CalculatorLogger/v15/.suo
/.vs/CalculatorLogger/v15/Server/sqlite3/storage.ide
/.vs/CalculatorLogger/v15/Server/sqlite3/storage.ide-shm
/.vs/CalculatorLogger/v15/Server/sqlite3/storage.ide-wal
/Calculator/bin/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.pdb
/Calculator/bin/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.dll
/Calculator/bin/Debug/netcoreapp2.2/Calculator.pdb
/Calculator/bin/Debug/netcoreapp2.2/Calculator.dll
/Calculator/obj/project.assets.json
/Calculator/obj/Debug/netcoreapp2.2/Calculator.pdb
/Calculator/obj/Debug/netcoreapp2.2/Calculator.dll
/Calculator/obj/Debug/netcoreapp2.2/Calculator.csprojAssemblyReference.cache
/Calculator/obj/Debug/netcoreapp2.2/Calculator.csproj.FileListAbsolute.txt
/Calculator/obj/Debug/netcoreapp2.2/Calculator.csproj.CoreCompileInputs.cache
/Calculator/obj/Debug/netcoreapp2.2/Calculator.assets.cache
/Calculator/obj/Debug/netcoreapp2.2/Calculator.AssemblyInfo.cs
/Calculator/obj/Calculator.csproj.nuget.g.props
/Calculator/obj/Calculator.csproj.nuget.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.AssemblyInfo.cs
/CalculatorTests/bin/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.pdb
/CalculatorTests/bin/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.dll
/CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorTests.runtimeconfig.dev.json
/CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorTests.pdb
/CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorTests.dll
/CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorTests.deps.json
/CalculatorTests/bin/Debug/netcoreapp2.2/Calculator.pdb
/CalculatorTests/bin/Debug/netcoreapp2.2/Calculator.dll
/CalculatorTests/obj/project.assets.json
/CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.pdb
/CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.dll
/CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.csprojAssemblyReference.cache
/CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.csproj.FileListAbsolute.txt
/CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.csproj.CoreCompileInputs.cache
/CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.assets.cache
/CalculatorTests/obj/CalculatorTests.csproj.nuget.g.props
/CalculatorTests/obj/CalculatorTests.csproj.nuget.cache
/LoggingCalculator.Abstractions/obj/project.assets.json
/LoggingCalculator.Abstractions/obj/LoggingCalculator.AbstractionsAndModels.csproj.nuget.g.props
/LoggingCalculator.Abstractions/obj/LoggingCalculator.AbstractionsAndModels.csproj.nuget.cache
/LoggingCalculator.Abstractions/obj/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.pdb
/LoggingCalculator.Abstractions/obj/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.dll
/LoggingCalculator.Abstractions/obj/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.csproj.FileListAbsolute.txt
/LoggingCalculator.Abstractions/obj/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.csproj.CoreCompileInputs.cache
/LoggingCalculator.Abstractions/obj/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.assets.cache
/LoggingCalculator.Abstractions/obj/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.AssemblyInfoInputs.cache
/LoggingCalculator.Abstractions/obj/Debug/netcoreapp2.2
/LoggingCalculator.Abstractions/obj
/LoggingCalculator.Abstractions/bin/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.pdb
/LoggingCalculator.Abstractions/bin/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.dll
