################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/CalculatorLogger/obj/x86/Debug/CalculatorLoggerApp.csproj.CoreCompileInputs.cache
/CalculatorLogger/obj/x86/Debug/CalculatorLoggerApp.csprojAssemblyReference.cache
/CalculatorLogger/obj/x86/Release/CalculatorLoggerApp.csproj.CoreCompileInputs.cache
/CalculatorLoggerLibrary/obj/Debug/CalculatorLoggerLibrary.csproj.CoreCompileInputs.cache
/CalculatorLoggerLibrary/obj/Debug/CalculatorLoggerLibrary.csprojAssemblyReference.cache
/CalculatorLoggerLibrary/obj/Release/CalculatorLoggerLibrary.csproj.CoreCompileInputs.cache
/Calculator.Service/bin/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.pdb
/Calculator.Service/bin/Debug/netcoreapp2.2/LoggingCalculator.AbstractionsAndModels.dll
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.Service.runtimeconfig.json
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.Service.runtimeconfig.dev.json
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.Service.pdb
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.Service.dll
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.Service.deps.json
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.pdb
/Calculator.Service/bin/Debug/netcoreapp2.2/Calculator.dll
/Calculator.Service/obj/project.assets.json
/Calculator.Service/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Calculator.Service/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Calculator.Service/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.RazorTargetAssemblyInfo.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.RazorAssemblyInfo.cs
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.RazorAssemblyInfo.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.pdb
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.dll
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.csprojAssemblyReference.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.csproj.FileListAbsolute.txt
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.csproj.CoreCompileInputs.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.csproj.CopyComplete
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.assets.cache
/Calculator.Service/obj/Debug/netcoreapp2.2/Calculator.Service.AssemblyInfoInputs.cache
/Calculator.Service/obj/Calculator.Service.csproj.nuget.g.targets
/Calculator.Service/obj/Calculator.Service.csproj.nuget.g.props
/Calculator.Service/obj/Calculator.Service.csproj.nuget.cache
/.vs/config/applicationhost.config
